body {
  font-size: 16px;
  color: white;
  background-color: black;
  font-family: sans-serif;
  line-height: 2em;
}

a {
  color: pink;
}

.content {
  margin-top: 2em;
}

.canvasContainer {
  width: 100%;
  max-width:512px;
  margin: auto;
}

#toggles {
  margin: auto;
  text-align: center;
}

.toggle {
  color: cyan;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 2em;
  margin-right: 2em;
}

#links {
  float: left;
}

#twitch-embed {
  float: right;
  width: 860px;
  max-width: 100%;
}
