body {
  background-color: black;
}

.canvasContainer {
  width: 100%;
  max-width:512px;
  margin: auto;
}

#controllerContainerContainer {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 2em;
}

#controllerContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}

#controllerDummy {
  margin-top: 40%;
}

#controllerElement {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.controllerDirButtons {
  background-color: #111;
  width: 45%;
  max-width: 300px;
  float: left;
}

.controllerActionButtons {
  background-color: #111;
  width: 45%;
  max-width: 300px;
  float: right;
}

.controllerDir {
  background-color: pink;
  width: 33%;
  height: 33%;
  cursor: pointer;
}

#controllerUp {
  margin: auto;
}

#controllerLeft {
  display: inline-block;
}

#controllerRight {
  float: right;
}

#controllerDown {
  margin: auto;
}

.controllerAction {
  background-color: teal;
  width: 50%;
  height: 50%;
  cursor: pointer;
}

#controllerZ {
  float: left;
  margin-top: 40%;
}

#controllerX {
  float: right;
  margin-top: 10%;
}


.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}